body {
	background: #f0f0f0;
}

aside {
	background: #fff;
	height: 100vh;
}

aside h6 {
	color: #565656;
	text-transform: uppercase;
}

main > .row {
	margin-bottom: 30px;
}
main > .row:last-of-type {
	margin-bottom: 0;
}
.options label {
	line-height: 21px;
}
.options input[type=checkbox] {
	display: none;
}
.options input[type=checkbox] + label {
	width:22px;
	height: 21px;
	display:inline-block;
	padding-left:40px;
	background: url('checkbox-sprite.jpg') no-repeat;
	font-weight: normal;
}

.options input[type=checkbox]#white + label {
background-position: 0 0;	
}

.options input[type=checkbox]#silver + label {
background-position: 0 -35px;	
}
.options input[type=checkbox]#black + label {
background-position: 0 -71px;	
}

.options input[type=checkbox]#gray + label {
background-position: 0 -108px;	
}

.options input[type=checkbox]:checked + label {
	color:pink;
}

.car-column {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size:14px;
	line-height: 15px;
	background: #fff;
	color:#535353;
}
.car-info-wrap {
	margin: 10px;
}

.car-info-wrap .col-sm-6 {
	padding: 0;
}

.year-make {
	
}
.miles {
	display: block;
	color:#878787;
	text-align: right;
}
.model {
	display:block;
	font-weight: 400;
}
.edition {
	font-size:12px;
	color: #878787;
	display:block;
}
.price {
	font-size:30px;
	font-weight: 400;
	line-height: 32px;
	color:#149ed0;
	display: block;
}

